.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 50px;
}
.darkfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    height: 50px;
    color: white;
}